@layout.main({ title: "BIBLIO WEB UATM" })

@slot('meta')
  <meta property="og:title" content="BIBLIO-WEB-UATM">
  <meta property="og:description" content="BIBLIO-WEB-UATM">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://biblio-web-uatm.com">
  <meta property="og:image" content="/images/logo/biblio-web-uatm.png">
@endslot

@slot('content')
  @include('components/header')

  <!-- Home Page Sections -->
  @include('components/home/hero')


  @include('components/footer')
@endslot

@end
